{% extends 'base/main.html' %}

{% block content %}


<a href="{% url 'student-home' %}">Back</a>
<h1>Schedule your interview: {{participant}}</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form__group">
            <label for="slots">Choose Interview Date: </label>
            
            <select name="slot">
                
                {% for item in slots_for_id %}
                {% comment %} Checking if the slot is empty {% endcomment %}
                {% if item.booked == False %}
                <option value="{{item.id}}">{{item.date.day}}/{{item.date.month}}/{{item.date.year}}->{{item.time}}</option>
              
                {% endif %}
                
                {% endfor %}
                
            </select>
        </div>
    
        <button type="submit" value="Submit">Submit</button>
    </form>

{% endblock content %}